@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(images/317736806_1626029414481546_1964913059161351460_n.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(35, 35, 35);
}
.container-fluid > .navbar-brand{
    font-size: 30px;
    letter-spacing: 7px;
    font-weight: 500;
}
.container{
    width: 30%;
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 0px 90px;
    

}
.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

}
.search-bar input{
    background: transparent;
    flex: 1;
    border-radius: 60px;
    padding: 10px;
    outline: none;
    font-size: 20px;

}
::placeholder{
    color: #959995;
}
.search-bar button img{
    width: 23px;
}
.search-bar button{
    border-radius: 50%;
    width: 60px;
    height: 60%;
    background-color: #58629b;
    cursor: pointer;
    margin: auto 10px;
}


.contact{
    margin: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 70%;
} 

.contact-box{
    width: 500px;
    box-shadow: 0 0 20px 0 #999;
    top: 61%;
    left: 71%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 14px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
form{
    padding: 55px;
    
}
.textarea-field{
    height: 115px;
    padding-top: 10px;
}
.form-btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: gold;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.form-btn:hover{
    background-color: rgb(23, 23, 60);
}
form >h3{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
}
iframe{
    width: 34%;
    height: 40%;
    margin: 224px 111px;
    border-radius: 14px;
    padding: 10px;
}