@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.background{
    background-image: url(/images/312395760_648789680031176_8435825328079276964_n.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(4, 42, 80, 0.75);
    width: auto;
    border-radius: 10px;

}

.box h1{
    text-transform: uppercase;
    font-weight: 700;
    color: white; 
    font-size: 28px;
    margin-top: 40px;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
    width: 270px;


}

.box input[type="text"], .box input[type="password"], .box input[type="email"]{
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(23, 23, 60);
    padding: 14px 10px;
    width: 270px;
    border-radius: 24px ;
    transition: 0.25px;
}
.box input[type="text"], .box input[type="password"], .box input[type="email"]:focus{
    width: 270px;
}

#btn{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid gold;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.link{
    text-decoration: none;
    color: white;
}

#btn:hover{ 
    background-color: gold;
    color: white;
    font-size: 16px;
}

#linkHomePage{
    text-decoration: none;
    color: white;
}